@font-face {
    font-family: Montserrat;
    src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('ttf');
  }
  
  @font-face {
    font-family: Montserrat;
    src: url('../../shared/assets/fonts/Montserrat-Medium.ttf') format('ttf');
  }
  
  @font-face {
    font-family: Montserrat;
    src: url('../../shared/assets/fonts/Montserrat-Bold.ttf') format('ttf');
  }
  
  @font-face {
    font-family: Montserrat;
    src: url('../../shared/assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
  }