@font-face {
    font-family: "Montserrat";
    src: url('../../shared/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url('../../shared/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url('../../shared/assets/fonts/Montserrat-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url('../../shared/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  }