@import "./normalize";
@import "./vars";
@import "./fonts";

html,
body,
#root {
  font-family: var(--font-family-main);

  @media all and (max-width: 1024px) {
    padding-bottom: 25px;
}
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}