@import "./normalize";
@import "./vars";
@import "./fonts";

html,
body,
#root {
  height: 100%;
  font-family: var(--font-family-main);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}