@import "./normalize";
@import "./vars";
@import "./fonts";
@import './media-queries';

html,
body,
#root {
  font-family: var(--font-family-main);
  background-color: var(--light-brown-color);
  --swiper-theme-color: var(--dark-brown-color);

  @include tablet-l {
    padding-bottom: 25px;
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}