@import './media-queries';

@mixin main-styles {
    margin: 0 auto;
    max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
    padding: 0 var(--container-padding-x); 

    @include tablet-l {
        padding: 0 80px; 
    }

    @include tablet-m {
        padding: 0 60px; 
    }

    @include mobile-l{
        padding: 0 40px; 
    }   
}

@mixin section-styles {
    margin-top: 60px;
    
    @include tablet-l {        
        margin-top: 40px;
    }

    @include mobile-l{
        margin-top: 40px;
    }     
}

@mixin title-section {
    font-weight: 500;

    @include desktop-l {
        font-size: var(--font-size-l);
    }

    @include tablet-m {
        text-align: center;
    }

    @include mobile-l {
        font-size: var(--font-size-s);
        width: 100%;
    }
}

@mixin modal-content {
    padding: 10px 100px 60px 100px;
    background-color: var(--light-brown-color);
    border-radius: var(--border-radius-container);
    box-shadow: 4px 6px 6px 4px rgba(0, 0, 0, 0.25);

    @include mobile-l {
        padding: 15px 20px 40px 20px;
    }
}

@mixin button-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}