:root {
  // Шрифт
  --font-family-main: 'Montserrat', sans-serif;

  // Цвет
  --light-brown: #F7F1EB;
  --dark-brown: #7A5452;
  --brown: #C49B82;
  --black: #000000;
  --white: #FDFDFD;

  // Размеры
  --font-size-xs: 14px;
  --font-size-s: 20px;
  --font-size-m: 30px;
  --font-size-l: 35px;
  --font-size-xl: 50px;
}