:root {
  // Шрифт
  --font-family-main: 'Montserrat', sans-serif;

  // Цвет
  --light-brown-color: #F7F1EB;
  --dark-brown-color: #7A5452;
  --brown-color: #C49B82;
  --black-color: #000000;
  --white-color: #FDFDFD;

  // Размеры
  --font-size-xs: 14px;
  --font-size-s: 20px;
  --font-size-m: 25px;
  --font-size-l: 30px;
  --font-size-xl: 50px;
}