:root {
  // Шрифт
  --font-family-main: 'Montserrat', sans-serif;

  // Цвет
  --light-brown-color: #F7F1EB;
  --dark-brown-color: #7A5452;
  --brown-color: #C49B82;
  --black-color: #000000;
  --white-color: #FDFDFD;

  // Размеры
  --font-size-xs: 14px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-ml: 30px;
  --font-size-l: 40px;
  --font-size-xl: 50px;
  --font-size-xxl: 70px;

    //Размер экрана
    --width-desktop-md: 1440px;
    --width-desktop: 1280px;
    --width-tablet: 820px;
    --width-mobile: 450px;

      //Паддинги
    --desktop-padding: calc(16%/2);
    --tablet-padding: calc(18%/2);
    --mobile-padding: calc(12%/2);

      //Text-transform
  --text-uppercase: uppercase; 
  --text-capitalize: capitalize;

  //Переменные для header
  --gap-desktop: 48px;
  --gap-tablet: 15px;
  --gap-mobile: 5px;
  
  //Контейнер
  --container-max-width: 1440px;
  --container-padding-x: 90px;
}