@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.signin {
    width: 600px;
    @include modal-content;
    

    @include mobile-l {
        width: 95%;
        margin-left: 10px;
    }

    .title {
        align-self: flex-start;

        &:last-of-type {
            margin-bottom: 22px;
        }
    }

    input {
        @include mobile-l {
            font-size: var(--font-size-xs);
        }    
    }
}

.closeButton {
    cursor: pointer;
    position: relative;
    left: 250px;
    top: 10px;
    width: 50px;
    height: 50px;

    @include mobile-l {
        left: 160px;
        width: 40px;
        height: 40px;
    }

    @include mobile-m {
        top: 5px;
        left: 150px;
    }
}

.buttonSignin {
    @include button-icon;
    width: 100%;

    @include mobile-l {
        font-size: var(--font-size-xs);
    }
}

.error {
    height: 19px;
    text-align: center;

    .text {
        color: var(--red-color);
    }  
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.password {
    position: relative;
    left: 170px;
    bottom: 185px;
    width: 80px;
    height: 0;

    @include mobile-l {
        left: 160px;
    }

    @include mobile-m {
        left: 130px;
    }
}