@import '@/app/styles/media-queries.scss';

.container {
    margin: 50px 0;
}

.filterDesktop {
    @include tablet-l {
        display: none;
    }
}

.filterMobile {
    display: none;

    @include tablet-l {
        display: flex;
        justify-content: flex-end;
    }
}

.button {
    background-color: inherit;
}