@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.main {
    @include mobile-l {
        flex-direction: column;
        align-items: flex-start;
    }
}

.button {
    width: 390px;
    @include button-icon;

    @include mobile-l {
        width: 100%;
        font-size: 14px;
        padding: 2px 25px;
    }
}

.section {
    @include mobile-l {
        font-size: var(--font-size-s);
    }
}