@import '@/app/styles/mixin.scss';

.section {
    @include section-styles;
}

.container_desktop {
    margin-top: 48px;

    @include tablet-l {
        display: none;
    }
}

.container_mobile {
    display: none;

    @include tablet-l {
        margin-top: 20px;
        display: block;
    }
}

.title {
    @include title-section;
    margin-bottom: 32px;
}

