@import '@/app/styles/mixin.scss';

.footer {
    @include main-styles;
    font-size: var(--font-size-m);
    background-color: var(--white-color);
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main {
    display: flex;
    justify-content: space-between;
}