.button {
    border-radius: 15px;
    padding: 10px 25px;
    font-size: var(--font-size-m);
    font-weight: 700;
    text-transform: var(--text-uppercase);
}

.accent {
    background-color: var(--dark-brown-color);
    color: var(--white-color);

    &:hover {
        background: linear-gradient(to left, var(--brown-color), var(--dark-brown-color));
        background-size: 250% 100%;
    }
}

.secondary {
    border: 3px solid var(--dark-brown-color);
    color: var(--dark-brown-color);
    background-color: transparent;

    &:hover {
        background: linear-gradient(to left, var(--brown-color), transparent);
        background-size: 350% 100%;
    }
}