@import '@/app/styles/media-queries.scss';

.button {
    border-radius: var(--border-radius-element);
    font-size: var(--font-size-m);
    font-weight: 700;
    text-transform: var(--text-uppercase);
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    @include mobile-l {
        height: 36px;
        font-size: var(--font-size-s);
    }
}

.accent {
    background-color: var(--dark-brown-color);
    color: var(--white-color);

    &:hover {
        background: linear-gradient(to left, var(--brown-color), var(--dark-brown-color));
        background-size: 250% 100%;
    }
}

.secondary {
    border: 2px solid var(--dark-brown-color);
    color: var(--dark-brown-color);
    background-color: transparent;

    &:hover {
        background: linear-gradient(to left, var(--brown-color), transparent);
        background-size: 350% 100%;
    }
}

.disabled {
    cursor: default;
    background-color: var(--disabled-color);
    pointer-events: none;

    &:hover {
        background: none;
    }
}