@import '@/app/styles/media-queries.scss';

.catlist {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 32px; 
    column-gap: 48px;

    @include tablet-l {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-l {
        grid-template-columns: 1fr;
    }
}

.error {
    text-align: center;
    color: var(--red-color);
}

.container {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
    gap: 16px;
}

.page {
    list-style: none;
    cursor: pointer;
    user-select: none;
    color: var(--dark-brown-color);
}

.link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-l);
    border-radius: var(--border-radius-element);

    @include tablet-m {
        font-size: var(--font-size-m);
    }
}

.previous,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-brown-color);
    height: 70px;
    width: 50px;
    font-size: var(--font-size-xl);
    cursor: pointer;
    user-select: none;

    @include tablet-m {
        font-size: var(--font-size-l);
        line-height: 1.2;
        height: 50px;
    }
}

.disabled {
    opacity: 0.5;
    cursor: auto;
}

.active {
    border-radius: var(--border-radius-element);
    background: rgba(253, 253, 253, 0.80);
    box-shadow: 0px 4px 4px 0px var(--skeleton-shadow);
    cursor: auto;
}

.activeLink {
    font-weight: 800;
}

.break {
    color: var(--dark-brown-color);
    font-size: var(--font-size-xl);
}
