@import '@/app/styles/mixin.scss';
@import '@/app/styles/media-queries.scss';

.form {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include mobile-l {
        width: 100%;
        gap: 16px;
    }
}

.select {
    flex-wrap: wrap;
}

.button {
    width: 100%;
}

