@import '@/app/styles/media-queries.scss';

.catCard {
    padding: 25px;
    border-radius: var(--border-radius-container);
    background-color: var(--opacity-color);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    width: 370px;

    @include desktop-m {
        width: 310px;
    }

    @include tablet-l {
        width: 100%;
    }

    @include mobile-l {
        padding: 15px;
    }
}

.images {
    width: 100%;
}

.name {
    font-weight: bold;
    text-transform: var(--text-capitalize);
    margin-top: 20px;
    margin-bottom: 10px;

    @include mobile-l {
        font-size: var(--font-size-s);
    }
}

.text {
    @include mobile-l {
        font-size: var(--font-size-xs);
    }
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    @include mobile-l {
        font-size: var(--font-size-xs);
        padding: 5px 25px;
    }
}