@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.catCard {
    padding: 35px;
    border-radius: var(--border-radius-container);
    background-color: var(--opacity-color);
    width: 370px;

    @include desktop-m {
        width: 310px;
    }

    @include tablet-l {
        width: 100%;
    }
}

.images {
    width: 100%;
}

.name {
    font-weight: bold;
    text-transform: var(--text-capitalize);
    margin-top: 20px;
    margin-bottom: 10px;

    @include mobile-l {
        font-size: var(--font-size-s);
    }
}

.text {
    @include mobile-l {
        font-size: var(--font-size-xs);
    }
}

.btn {
    width: 100%;
    margin-top: 20px;
    @include button-icon;

    @include mobile-l {
        font-size: var(--font-size-xs);
        padding: 5px 25px;
    }
}