@import "@/app/styles/media-queries.scss";

.container {
  background-color: var(--opacity-color);
  border-radius: var(--border-radius-container);
  padding: 70px 90px;

  @include tablet-l {
    width: 100%;
    height: auto;
    padding: 40px;
    gap: 16px;
    margin-bottom: 25px;
  }

  @include mobile-l {
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }
}

.img, .imgRev {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-container);
  width: 240px;

  @include mobile-l {
    width: 80%;
  }
}

.img {
  @include mobile-l {
    order: 2;
  }
}

.imgRev {
  order: 2;
}

.title {
  font-size: var(--font-size-l);
  font-weight: bold;
  margin-bottom: 30px;

  @include desktop-l {
    font-size: var(--font-size-m);
  }

  @include tablet-l {
    font-size: var(--font-size-s);
    text-align: center;
  }

  @include mobile-l {
    font-size: var(--font-size-xs);
  }
}

.content {
  text-align: justify;
  font-size: var(--font-size-m);
  line-height: 1.6;
  padding-left: 0;
  text-indent: 20px;

  @include desktop-l {
    font-size: var(--font-size-s);
  }

  @include tablet-l {
    font-size: var(--font-size-xs);
  }
}