.input {
    padding: 15px;  
    width: 100%; 
    border-radius: var(--border-radius-element);
    border: 2px solid transparent;   
    background-color: var(--white-color);
    font-family: var(--font-family-main);
    font-size: var(--font-size-xs);
    color: var(--dark-brown-color); 
    height: 50px;   
    word-wrap: break-word;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    &::placeholder {
        color: var(--brown-color); 
    }

    &:focus {
        outline: none;
        border: 2px solid var(--dark-brown-color);
    }

    // Стили для автозаполнения сохраненного пароля в браузере
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: var(--dark-brown-color) !important;
        -webkit-box-shadow: 0 0 0px 1000px var(--white-color) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        -webkit-font-size: var(--font-size-m);
    }
}

.isError {
    border: 2px solid var(--red-color);
    box-shadow: none;

    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus, 
    &:-webkit-autofill:active {
        -webkit-box-shadow: none;
    }
}