@import '@/app/styles/mixin.scss';

.section {
    @include section-styles
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    @include title-section;
    margin-bottom: 32px;
    text-align: center;
}