@import '@/app/styles/mixin.scss';

.section {
    @include section-styles;
}

.title {
    @include title-section;
}

.card {
    @media all and (max-width:1024px) {
        display: flex;
        flex-direction: column;   
        gap: 16px;
    }
}