@import '@/app/styles/media-queries.scss';

.upButton {
    position: fixed;
    bottom: 20px;
    right: 12px;
    background-color: transparent;
    z-index: 10;

    @include tablet-l {
        bottom: 90px;
        right: 8px;
    }
}
