@import '@/app/styles/media-queries.scss';

.upButton {
    position: fixed;
    bottom: 20px; //FIX LATER
    right: 12px; //FIX LATER
    background-color: transparent;
    z-index: 10;

    @include tablet-l {
        bottom: 90px; //FIX LATER
        right: 8px; //FIX LATER
    }
}
