@import '@/app/styles/media-queries.scss';

.picture {
    width: 230px;
    height: auto;
    margin-right: 80px;

    @include desktop-l {
        width: 150px;
        margin-right: 40px;
    }

    @include tablet-l {
        display: none;
    }

    @include mobile-l {
        display: flex;
        margin-right: 0;
    }
}