@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.container {
    @include section-styles;
    margin-bottom: 60px;
}

.filterDesktop {
    @include tablet-l {
        display: none;
    }
}

.filterMobile {
    display: none;

    @include tablet-l {
        display: flex;
        justify-content: flex-end;
    }
}

.button {
    background-color: inherit;
}