@import '@/app/styles/media-queries.scss';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);  
}

.drawer {
    position: fixed;
    top: 0;
    right: -500px;
    width: 500px; 
    height: 100%;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 100;
    overflow-y: auto;

    &.open {
        right: 0; 
        box-shadow: -2px 0 5px var(--dark-brown-color);
    }

    @include mobile-l {
        right: -100%;
        width: 100%; 
    }
}