@import '@/app/styles/media-queries.scss';

.buttonSocial {
    position: fixed;
    bottom: 65px;
    right: 12px;
    background-color: transparent;
    z-index: 10;

    @include mobile-l {
        bottom: 135px;
        right: 8px;
    }
}

.iconChat {
    width: 40px;
    height: 40px;
}