@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.main {
    padding: 35px;
    background-color: var(--opacity-color);
    border-radius: var(--border-radius-container); 
    margin-top: 40px;

    @include mobile-l {
        padding: 35px 25px;
        margin-top: 50px;
    }
}

.title {
    @include title-section;
}

.benefits {
    @include tablet-l {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    @include mobile-l {
        gap: 0;
    }
}


.text {
    font-weight: 400;
    max-width: 240px;

    @include tablet-l {
        max-width: 400px;
        font-size: var(--font-size-s);
    }

    @include mobile-l {
        max-width: 100%;
        font-size: var(--font-size-xs);
    }
}