@import '@/app/styles/media-queries.scss';

.accordionitem {
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-s);
    text-transform: capitalize;
    padding: 10px 50px;
    height: max-content;

    @include tablet-m {
        padding: 10px 30px;
    }

    @include mobile-l {
        padding: 10px 15px;
    }

    .question {
        width: 80%;
        text-align: start;
    }

    svg {
        @include mobile-l {
            width: 30px;
            height: 30px;
        }
    }

    .icon {
        transition: transform 0.3s ease;
    }
    
    .rotate {
        transform: rotate(-180deg);
    }
}

.open {
    border-radius: 15px 15px 0 0;
}

.answer {
    background-color: var(--white-color);
    border-radius: 0 0 15px 15px;
    padding: 15px 50px;
    font-size: var(--font-size-s);
    box-shadow: 0 2px 10px 0 var(--skeleton-shadow);

    @include tablet-m {
        padding: 10px 30px;
    }

    @include mobile-l {
        padding: 10px 15px;
    }
}