.images {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.navbar {
    position: relative;
    top: 25px;
    left: 50%;
    color: var(--white-color);
    font-size: var(--font-size-l);
    font-family: var(--font-family-main);
}

.button {
    position: relative;
    top: 60%; //FIX LATER
    left: 7%; //FIX LATER
}