@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.catCard {
    padding: 35px;
    border-radius: var(--border-radius-container);
    background-color: var(--opacity-color);
    box-shadow: 0 2px 10px 0 var(--skeleton-shadow);
    width: 350px;
    position: relative;

    @include tablet-m {
        width: 300px;
    }

    @include mobile-l {
        width: 100%;
        padding: 25px;
    }
}

.images {
    width: 100%;
}

.name {
    font-weight: bold;
    text-transform: var(--text-capitalize);
    margin-top: 20px;
    margin-bottom: 10px;

    @include mobile-l {
        font-size: var(--font-size-s);
    }
}

.btn {
    width: 100%;
    margin-top: 20px;
    @include button-icon;

    @include mobile-l {
        font-size: var(--font-size-s);
        padding: 5px 25px;
    }
}

.edit {
    position: absolute;
    right: 35px;
    bottom: 220px;
    display: flex;
    gap: 8px;
}

.delete {
    padding: 0;
    background: none;

    &:hover {
        background: none;
    }

}

