@import '@/app/styles/media-queries.scss';

.container {
    display: none;

    @include tablet-m {
        display: block;
        background: var(--white-color);
        width: 100%;
        padding: 12px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 97;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: var(--black-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        fill: var(--black-color);
    }

    @include mobile-m {
        font-size: 14px;
    }
}

.opened_page {
    font-weight: bold;
    color: var(--dark-brown-color);

    svg {
        fill: var(--dark-brown-color);
    }
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black-color);
    text-transform: uppercase;
    background: none;
    font-weight: normal;
    font-size: var(--font-size-xs);

    &:hover {
        background: none;
    }

    svg {
        fill: var(--black-color);
    }


    @include mobile-m {
        font-size: 14px;
    }
}