@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.header {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 20px 107px;

    @include desktop-l {
        padding: 20px var(--tablet-padding);
    }

    @include tablet-l {
        height: 550px;
    }

    @include tablet-m {
        height: 100vh;
    }

    @include mobile-l {
        display: flex;
        align-items: center;
        background-color: transparent;
        justify-content: flex-start;
        padding: 20px var(--mobile-padding);
        height: calc(100vh - 80px);
    }
}

.navbarMain {
    justify-content: flex-end;
}

.headerContext {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include desktop-l {
        padding: 0;
    }

    @include tablet-m {
        margin-left: 0;
    }
}

.btn {
    width: 100%;
    @include button-icon;

    @include mobile-l {
        display: none;
    }
}

.titleContainer {
    width: fit-content;
    z-index: 10;
    margin-top: 250px;

    @include desktop-l {
        margin-top: 200px;
    }

    @include tablet-l {
        margin-top: 70px;
    }

    @include tablet-m {
        margin-top: 500px;
    }

    @include mobile-l {
        margin-top: 380px;
    }

    @include mobile-m {
        margin-top: 300px;
    }

    .text {
        color: var(--white-color);        
        font-weight: 400;
        line-height: 2;
        margin-bottom: 25px;

        @include tablet-l {
            font-size: var(--font-size-l);
        }

        @include mobile-m {
            font-size: var(--font-size-m);
        }
    }

    .title {
        color: var(--white-color);
        width: min-content;
        margin-bottom: 40px;
        font-size: 90px;

        @include desktop-l {
            font-size: 70px;
        }

        @include desktop-m {
            font-size: var(--font-size-xxl);
            margin-bottom: 25px;
        }

        @include mobile-l {
            margin-bottom: 10px;
        }

        @include mobile-m {
            font-size: var(--font-size-xl);
        }
    }
}
