@import '@/app/styles/mixin.scss';

.container {
    column-gap: 120px;

    @media all and (max-width:1024px) {
        flex-direction: column;
        row-gap: 32px;
    }
}

.title {
    @include title-section;
}

.text {
    row-gap: 30px;   
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: justify;
    padding: 20px 0;


    @media all and (max-width:1440px) {
        row-gap: 15px; 
    }
    @media all and (max-width:820px) {
        padding: 0;
    }
}

.par {
    @media all and (max-width:820px) {
        font-size: var(--font-size-s);       
    }
    @media all and (max-width:460px) {
        font-size: var(--font-size-xs);
    }
}

.picture {
    width: clamp(430px, 40vw, 600px);
    border-radius: var(--border-radius-container);

    @media all and (max-width:1024px) {
        width: 100%;
    }
}