@import '@/app/styles/media-queries.scss';

.media {
    position: fixed;
    bottom: 75px;
    right: 5px;
    padding: 25px 32px;
    width: 64px;
    z-index: 10;

    @include tablet-l {
        width: max-content;
        padding: 15px 3px;
        bottom: 130px;
    }

    @include mobile-l {
        bottom: 120px;
    }

    .button {
        background-color: transparent;
    }

    img {
        width: 50px;
        height: 50px;

        @include tablet-l {
            width: 40px;
            height: 40px;
        }
    }
}