@import '@/app/styles/media-queries.scss';

.media {
    position: fixed;
    bottom: 75px; //FIX LATER
    right: 5px; //FIX LATER
    padding: 25px 32px;
    width: 64px;
    z-index: 10;

    @include mobile-l {
        width: max-content;
        padding: 15px 3px;
        bottom: 120px; //FIX LATER
    }

    .button {
        background-color: transparent;
    }

    img {
        width: 50px;
        height: 50px;

        @include mobile-l {
            width: 40px;
            height: 40px;
        }
    }
}