@import '@/app/styles/media-queries.scss';
@import '@/app/styles/mixin.scss';

.confirm_container {
    width: 600px;
    @include modal-content;
}

.title {

    @include mobile-l {
        font-size: var(--font-size-m);
    }
}

.text {
    text-align: justify;

    @include mobile-l {
        font-size: var(--font-size-s);
    }
}

.button_container {
    @include mobile-l {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
    
}

.btn_cancel {
    width: 200px;

    @include mobile-l {
        width: 60%;
    }
}

.btn_delete {
    width: 200px;
    @include button-icon;

    @include mobile-l {
        width: 60%;
    }
}
