.picture {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    display: block;

    @media (max-width: 1439px) {
        min-height: 820px;
    }

    @media (max-width: 1024px) {
        min-height: 550px;
    }

    @media (max-width: 850px) {
        min-height: 480px;
    }

    @media (max-width: 767px) {
        min-height: 330px;
    }

    @media (max-width: 500px) {
        position: absolute;
        width: 100%;
        min-height: 230px;
        background-color: var(--brown-color);
    }
}