@import '@/app/styles/media-queries.scss';

.picture {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    display: block;

    @include desktop-l {
        min-height: 820px;
    }

    @include tablet-l {
        min-height: 550px;
    }

    @include tablet-m {
        height: 100vh;
        object-position: 80% center;
    }

    @include mobile-l {
        height: calc(100vh - 80px);
    }
}