@mixin afterElement($width: 0) {
    &:after {
        display: block;
        left: 0;
        width: $width;
        height: 2px;
        background-color: var(--white-color);
        content: "";
        transition: width 0.3s ease-out;
    }
}

.navbar {
    display: flex;
    gap: var(--gap-desktop);
    font-size: var(--font-size-m);
    z-index: 10;
    font-weight: 400;
    flex-wrap: wrap;
}

.link {
    color: var(--white-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: var(--text-uppercase);
    min-width: 150px;
    text-align: center;
    padding: 5px;
    line-height: 1;
}

.default {
    font-weight: 400;
    @include afterElement(0);

    &:hover {
        transition: color 0.3s ease-out;
    }


    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.opened_page {
    font-weight: 600;
    @include afterElement(100%);
} 